* {
    box-sizing: border-box;
    font-family: "Bangers", system-ui;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 3px;
    font-style: normal;
    color:#CFD3DA;
}



body {
    max-width: 100%;
    max-height: 60%;
    margin: 40px 10px;
    background-image: url("./assets/fondocomic.jpg");
    /* Ruta de la imagen */
    background-size: cover;
    background-repeat:repeat;
    /* Cubrir completamente el contenedor */
    background-position: center;
}



header {
    width: 100%;
    background-image: url("./assets/fondo.jpg");
    background-position: center;
    margin-bottom: 60px;
    border: 6px;
    display: flex;
    border: 3px solid black;
}


.personajes {
    background-image: url("./assets/personajes/goku.png");
    width: 100px;
    /* Ancho del elemento */
    /* Ruta de la imagen */
    background-size: contain;
    /* Cubrir completamente el contenedor */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    margin-left:30px;
    /* Centra el contenido horizontalmente */
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pregunta {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90em;
    object-fit: cover;
}


.tituloPreguntas {
    color: black;
    font-size: 20px;
    margin-bottom: 40px;
    width: 100%;
    height: 140px;
    background-color: white;
    border-radius: 2em;
    border: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-respuestas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.respuesta {
    border-radius: 2em;
    border: 6px solid black;
    width: 100%;
    height: 90px;
    margin: 3px;
}


label {
    color: solid black;
    background: rgba(241, 243, 244, 0.5);
    /*Te deja ese contenedor con un efecto translúcido*/
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

label:hover {
    background-color: white;
    opacity: 1.5;
    zoom: 1.5;
}


button {
    background-color: black;
    border-radius: 2em;
    border: 6px solid white;
    color: white;
    margin-top: 30px;
    width: 100%;
    height: 5em;
}



h1 {
    height: auto;
    width: auto;
    color: black;
    font-size: 40px;
    letter-spacing: 5px;
    margin-left: 30px;
    margin-top: 30px;
}





@media only screen and (min-width: 700px) {



    header {
        width: 100%;
        background-image: url("./assets/fondo.jpg");
        margin-bottom: 30px;
        border: 6px;
        display: flex;
        border: 3px solid black;
    }


    .personajes {
        background-image: url("./assets/personajes/goku.png");
        width: 130px;
        /* Ancho del elemento */
        /* Ruta de la imagen */
        background-size: contain;
        /* Cubrir completamente el contenedor */
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;
        margin-left:250px;
        /* Centra el contenido horizontalmente */
    }


    .tituloPreguntas {
        width: 50%;
        margin-bottom: 8px;
    }



    .contenedor-respuestas {
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pregunta {
        padding: 20px;
        margin-top: 10px;
        text-align: center;
        width: 80%;
    }


    .respuesta {
        width: 33.5%;
        margin-top: 20px;
    }

   

    button {
        background-color: black;
        border-radius: 2em;
        border: 6px solid white;
        color: white;
        margin-top: 30px;
        width: 50%;
        height: 5em;
    }

    h1 {
        height: auto;
        width: auto;
        color: black;
        font-size: 70px;
        letter-spacing: 2px;
        margin-left: 100px;
        margin-top: 60px;
    }


    h4 {
        font-size: 16px;
    }


 


}

@media only screen and (min-width: 1200px) {


    body {
        max-width: 100%;
        max-height: 60%;
        margin: 40px 10px;
        background-image: url("./assets/fondocomic.jpg");
        /* Ruta de la imagen */
        background-size: cover;
        background-repeat:repeat;
        /* Cubrir completamente el contenedor */
        background-position: center;
    }



    header {
        width: 100%;
        height: 250px;
        background-image: url("./assets/fondo.jpg");
        background-position: center;
        margin-bottom: 20px;
        border: 6px;
        display: flex;
        border: 3px solid black;
    }

    .pregunta {
        padding: 20px;
        text-align: center;
        width: 100%;
    }

    .contenedor-respuestas {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }



    .personajes {
        background-image: url("./assets/personajes/goku.png");
        width: 130px;
        /* Ancho del elemento */
        /* Ruta de la imagen */
        background-size: contain;
        /* Cubrir completamente el contenedor */
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;
        margin-left:600px;
        /* Centra el contenido horizontalmente */
    }



    .tituloPreguntas {
        width: 55%;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: white;
        color: black;
    }


    .respuesta {
        border: 0.05 em white;
        margin: 4px;
    }

    button {
        background-color: black;
        border-radius: 2em;
        border: 6px solid white;
        color: white;
        margin-top: 30px;
        width: 55%;
        height: 5em;
    }


    h4 {
        font-size: 20px;
    }


    h1 {
        margin-top:40px;
        font-size: 90px;
        letter-spacing: 4px;
    }


    h3 {
        font-size: 20px;
    }

}